<div>
  <div class="center-filter-container">
    <div class="select-center-dropdown">
      <p class="center-filter-text">Center</p>
      <select name="center-dropdown" id="program-feedback-center-dropdown" class="center-dropdown">
      </select>
    </div>
    <div class="select-cycle-dropdown">
      <p class="center-filter-text">Cycle</p>
      <select name="cycle-dropdown" id="program-feedback-cycle-dropdown" class="center-dropdown pull-right">
      </select>
    </div>
  </div>
  <div class="content-grid mdl-grid" id="program-feedback-content-grid">
  </div>
</div>
