<div class="not-found">
  <%= image_tag("404.svg", :alt => "404 image") %>
  <p class="not-found--primary">Sorry, Page not found.</p>
  <p class="not-found--secondary">Even the things we love break sometimes :(</p>
</div>
