<div id="single-program-modal"> 
  <div class="modal">
    <div class="modal-top">
      <div class="modal-header">
        <span class="single-program-close-button"></span>
        <div class="top-section">
          <h5 class="header-text" id="single-program-modal-title"></h5>
          <div class="line">
            <span class="long"></span>
            <span class="short"></span>
          </div>
        </div>
      </div>
      <div class="modal-content">
        <%= render('curricula/program_details') %>
      </div>
    </div>
  </div>
</div>
