<div class="curriculum-page">
  <div class="mdl-tabs mdl-js-tabs">
      <div class="mdl-tabs__panel is-active" id="program-details-panel">
        <%= render "program_details" %>
      </div>
  </div>
</div>
