<div id="single-program-container">
  <div>
    <div class="line single-program-title">
      <h5 id="single-title"></h5>
      <span class="long"></span>
      <span class="short"></span>
    </div>
  </div>
  <br/>
  <%= render('curricula/program_details') %>
</div>

