<div id="pitch-delete-confirmation-modal">
  <div class="modal">
    <div class="modal-top">
      <div class="modal-header">
        <span class="close-button btn-cancel close-delete-modal"></span>
        <div class="header-wrapper">
          <span class="delete-mark-icon"></span>
          <span class="confirmation-header">Confirm Delete</span>
        </div>
      </div>
    </div>
    <p class="confirm-text">This action will delete the pitch. Are you sure you want to continue?</p>
    <div class ="confirm-modal-bottom">
      <div class="confirm-btn-wrapper">
        <a class="btn-cancel cancel-btn close-delete-modal">Cancel</a>
        <input class='btn-submit submit-delete-modal' id="confirm-delete-pitch" type="submit" value="Delete" />
      </div>
    </div>
  </div>
</div>
