
<div id="rating-preview-modal">
<div class="rating-preview-modal-content">
<div class="share-modal-title">
<span id="close_preview_modal" class="close_modal"> </span>
  <span class="preview_heading">Preview Of Your Ratings for </span>
  <span class="preview_heading preview_learner_name"><%=@first_name%> <%=@last_name%></span>
  </div>
  <br>
<section id="preview">
</section>
  <br>
<footer>
  <div id="continue-rating-btn" class="continue-submission-btn confirm-rating"  style="display: block;">
    <span>CONTINUE</span>
  </div>
  <br>
  <p class="soft-warning">Once you submit these ratings, they are irreversible</p>
 </footer>
</div>
</div>
 </div>
