
<div class="rating_instruction_modal">
<div class = 'rating_instruction_modal_wrapper'>
<div class="share-modal-title">
<span class="close_modal"> </span>
  <span class="rating_instruction">Rating Instructions</span>
  </div>
  <br>
  <section>
 <p> Rate the candidate based on the criteria listed below. The ratings range from 1-5, with 1 being 
 the worst and 5 being the best.<br/> Descriptions below:</p>
 <br/>
  <p> 1-No : The output was extremely poor or nonexistent</p>
  <p> 2-Poor : The output was below average</p>
  <p> 3-Average : The output was of average quality - there are clear areas of improvement</p>
  <p> 4-Good : The output was good - some areas of improvement but overall high quality</p>
  <p> 5-#TIA : The output is of exceptional quality - this person should be invited to the fellowship</p>
</section>
  <br>
<footer>
  <div id="continue-btn" class="continue-btn close_rating_modal"  style="display: block;">
  <span>CONTINUE</span>
 </div>
 </footer>
</div>
</div>
 <div class="modal-overlay">
 </div>
