<div class="group-2-container">
  <div class="group-2">
      <div>
        <ul>
          <li class="title">UI/ UX</li>
          <li class="ui-ui-rating">2</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="api-functionality">API Functionality</li>
          <li class="ui-ui-rating">2</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="error-handling">Error  Handling</li>
          <li class="ui-ui-rating">2</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="project-understanding">Project Understanding</li>
          <li class="ui-ui-rating">2</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="presentation-skills">Presentational Skills</li>
          <li class="ui-ui-rating">2</li>
        </ul>
      </div>
      <div class="cumulative-average">
        <ul>
          <li class="cumulative-average">Cumulative Average</li>
          <li class="ui-ui-rating">2</li>
        </ul>
      </div>
    </div>
</div>

