<div id="add-learner-error-modal">
  <div class="modal">
    <div class="modal-content">
      <div class="error-container">
        Error occurred.
      </div>
    </div>
    <div class="modal-bottom">
        <button class="modal-nav-button close-error-modal" type="button">
          Close
        </button>
    </div>
  </div>
</div>
