<div id="confirmation-add-learner-modal">
  <div class="modal">
    <div class="modal-top">
      <div class="modal-header">
          <span class="close-button btn-cancel"></span>
          <div class="header-wrapper">
            <span class="mark-icon"></span>
            <span class="confirmation-header">Confirm Upload</span>
          </div>
      </div>
    </div>
  </div>
  <p class="confirm-text">This particular program cycle and location already exists. Are you sure you want to add learners to a pre-existing program's cycle?</p>
  <div class ="confirm-modal-bottom">
    <div class="confirm-btn-wrapper">
      <a class="btn-cancel cancel-btn">Cancel</a>
      <input class='btn-submit' id="confirm-upload-learner" type="submit" value="Upload" />
    </div>
  </div>
</div>
