<section class="mdl-cell mdl-cell--8-col mdl-cell--hide-phone mdl-cell--hide-phone mdl-cell--hide-tablet">
    <div class="slider-container">
      <div class="slides fade" data-image="assets/slide.png">
        <div class="caption">“Values Alignment”</div>
        <div class="description">Monitor your team's Values Alignments Outputs</div>
      </div>
        <div class="slides fade" data-image="assets/slide.png">
        <div class="caption">“Output Quality”</div>
        <div class="description">Monitor your team's Output Quality</div>
      </div>
        <div class="slides fade" data-image="assets/slide.png">
        <div class="caption">“Feedback”</div>
        <div class="description">Monitor your team's Feedback Outputs</div>
      </div>
      <div class ="slider-control-group">
        <span class="slider-control" data-index="0"></span>
        <span class="slider-control" data-index="1"></span>
        <span class="slider-control" data-index="2"></span> 
      </div>
    </div>
  </section>
