API_URL: 'https://api-staging.andela.com/'
LOGIN_URL: 'https://api-staging.andela.com/login?redirect_url='
LOGOUT_URL: 'https://api-staging.andela.com/logout?redirect_url='
POSTGRES_USER: 'vof-tracker'
POSTGRES_PASSWORD: ''
POSTGRES_HOST: 'localhost'
POSTGRES_DB: 'vof-tracker'
POSTGRES_TEST_DB: 'vof-test-db'
PERMISSIONS: 'SOME PERMISSIONS'
BUGSNAG_KEY: 'SOME KEY'
TEST_URL: 'https://api-staging.andela.com/logout?redirect_url=http://test.host:80/login'
SEGMENT_KEY: 'SOME KEY'
ACTION_CABLE_URL: 'ws://vof-tracker-dev.andela.com:3000/cable'
REDIS_URL: 'redis://127.0.0.1:6379'
SECRET_KEY_BASE: 'randomstring'
GOOGLE_STORAGE_ACCESS_KEY_ID: 'access_key_id'
GOOGLE_STORAGE_SECRET_ACCESS_KEY: 'secret_access_key'
AUTH_URL: 'https://vof-login-staging.andela.com/'
LEARNER_MICRO_PUBLIC_KEY: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAu/PXShcrLcoKYYr6sAuU\nGPjmb0qSwo5aYDjnXJ2fWbzeC+PadR2n6Pn9vWwZzOv6nSM5ocVNNRpAyHvT0mQf\n7DikDJANSwpQHwYpKkgdBDydzMeOBhFpkhLeUOfnF4a/sfB8OP+/PvW5vsRhx4WR\n+1PZDFXuCq/AbcBuzBsNJ8Q3gmB2/m7VeltIb5QXIs5zHCFC0tLS/WCNYfcfhviW\n7sz3qVSggrhEs2SgpvMBwiQHwNkP7/vfrNl6pKctLTvibdlWfF9JiER+a8Eq/Dge\nSnt70Gtn5rQnkN08DNLfxjiSskzef8pNh+9H5oI7Ee5UJpIOEyQ7p+XzEDzT1zy5\nTQIDAQAB\n-----END PUBLIC KEY-----"
ANDELA_MICRO_PUBLIC_KEY: "-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDIosduJNVCSgLCCwjwn6kZU2lw\nFhZpQytxL9mfIKveuyJnMxA430vDeHMmEWPGFOezZ4WbV1gZejb62F8DP31Vsjcr\nFsE92BrVSl1W5sYplTmaJX6bmTHJh0gm0AIZXcXXB3AOxhi8bgChSLI+/F2x0yP/\np069A7L/i3TGy6v/qwIDAQAB\n-----END PUBLIC KEY-----"
AUTH_ACCESS_TOKEN: '48572b447d4f96cad034cb9f6ed9d0885864de64d77c4fd90bd90164998b1fd471ba2011b3a409c107a7032529abc9f4c3456da0cd74ac7b249086440bb2daab'
USER_MICROSERVICE_API_URL: 'https://api-prod.andela.com/api/v1/roles/-KdN3P3b8y3X77X8AcJX/users'
USER_MICROSERVICE_API_TOKEN: "6TwLbtFuKRu0iaWyZfXLdSnSZeyOTByysbWKlTCJmzs"
MAILGUN_API_KEY: 'mailgun_api_key'
MAILGUN_DOMAIN_NAME: 'mailgun_domain_name'
FRESHCHAT_TOKEN: 'freshchat_token'
