<div id="image-preview-modal" class="preview-modal">
  <span class="close-backdrop"></span>
  <span class="close-modal">&times;</span>
  <img class="image-preview--content" id="preview-content">
</div>
