<div id="preview-image-modal" style="display: none">
  <div class="preview-image-modal-content">
    <div class="preview-button">
        <span id="preview-close"></span>
    </div>
    <div class="preview-image-header">
      <div>Preview Image Response</div>
    </div>
    <div class="preview-modal-image-display-content">
    </div>
    </div>
  </div>
</div>
