<div id="section-question-link-modal">
  <div class="modal-header">
    <span class="">Link Section to Question</span>
    <button id="link-modal-close-btn" class="close-btn"></button>
  </div>

  <div class="modal-body">
    <div class="option-container">
      <label>
        <span class="label-text">Section</span>
        <select class="link-modal-select" id="section-link-dropdown">
          <option selected>Select Section</option>
        </select>
      </label>
    </div>
    <div class="option-container">
      <label>
        <span class="label-text">Question</span>
        <select class="link-modal-select" id="question-link-dropdown">
          <option selected>Select Question</option>
        </select>
      </label>
    </div>
    <div class="option-container">
      <label>
        <span class="label-text">Option</span>
        <select class="link-modal-select" id="option-link-dropdown">
          <option selected>Select Option</option>
        </select>
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="link-confirm-btn" id="link-confirm-btn">Link Question</button>
  </div>
</div>
