<div id="main-response-modal">
  <div class="share-modal-container">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="wrapper">
        <div id="close-share-modal" class="close-share-modal"></div>
        <p class="share-survey-report">Share Survey Report</p>
        <p class="invite-collaborators">Invite collaborators to view <span class="questionnaire">Questionnaire</span> Report</p>
        <div class="input-field">
        <div class="share-item-container">
        <div class="select-recipients">
          <div class="select-description">Select Recipients</div>
          <ul class="selected-cycles"></ul>
          <div id="select-shelter" class="select-shelter">
            <div class="select-cycle" id="select_cycle">
              <p>Select Emails</p>
              <span class="down-arrow"></span>
            </div>
            <div class="cycle-options-wrapper">
              <div class="cycle-options-list"></div>
            </div>
          </div>
        </div>
      </div>
        <p id="survey-report-error"></p>
        </div>
        <a id="share-report-btn">
          <span class='share-report-btn'>
            Share Report
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
