<div id="confirm-handle-survey-edit-modal">
  <div class="modal">
    <div class="modal-top">
      <div class="modal-header">
        <span class="close-button btn-cancel close-edit-modal"></span>
        <div class="header-wrapper">
          <span class="delete-mark-icon"></span>
          <span class="confirmation-header">Confirm Edit</span>
        </div>
      </div>
    </div>
    <p class="confirm-text">This action will delete all the responses to this survey. Are you sure you want to continue?</p>
    <div class ="confirm-modal-bottom">
      <div class="confirm-btn-wrapper">
        <a class="btn-cancel cancel-btn close-handle-edit-survey">Cancel</a>
        <input class='btn-submit submit-edit-modal' id="confirm-handle-edit-survey" type="submit" value="Continue" />
      </div>
    </div>
  </div>
</div>
