<div id="survey-v2-preview-modal">
  <div class="preview-modal-container">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="preview-wrapper">
        <div class="preview-button">
          <span id="preview-close"></span>
        </div>
        <div class="preview-heading">
          <div class="modal-preview-title">
            <div class="modal-title">
              <div class="title"></div>
              <div class="resp">
                <div class="eye-icon"></div>
                <span class="response-count"></span>
              </div>
            </div>
            <div class="title-right">
              <span> Accepting Responses </span>
              <label class="mdl-switch mdl-js-switch" id="archive-toggle">
                <input type="checkbox" class="mdl-switch__input">
                <span class="mdl-switch__label not-required"></span>
                <span class="mdl-switch__label required"></span>
              </label>
            </div>
          </div>
          <div class="modal-preview-buttons">
            <div>
              <a href="/surveys-v2/responses" id="view_responses"> Responses</a>
            </div>
            <div>
              <a href="#" id="edit_form"> Edit Survey</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="preview-body">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="clone-section" class="sections ui-helper-hidden">
  <div class="question-body-content"></div>
  <div class="preview-next-btn">
    <a class="preview-prev pull-left ui-helper-hidden">Prev</a>
    <a class="preview-next pull-right ui-helper-hidden">Next</a>
  </div>
</div>
