<div id="confirm-optional-section-response-modal">
  <div class="modal">
    <div class="modal-top">
      <div class="modal-header">
        <span class="close-button btn-cancel close_section_modal"></span>
        <div class="header-wrapper">
          <span class="delete-mark-icon"></span>
          <span class="confirmation-header">Confirm Option Change</span>
        </div>
      </div>
    </div>
    <p class="confirm-text">The linked section and your answers to them will be removed. Are you sure you want to continue?</p>
    <div class ="confirm-modal-bottom">
      <div class="confirm-btn-wrapper">
        <a class="btn-cancel cancel-btn close-option-change">Cancel</a>
        <input class='btn-submit' id="confirm-option-change" type="submit" value="Continue" />
      </div>
    </div>
  </div>
</div>

