<div>
  <div id="close-survey-confirmation-modal">
    <div class="modal">
      <div class="modal-top">
        <div class="modal-header">
          <span class="close-confirmation-button" id="close-confirmation-btn"></span>
          <div class="header-wrapper">
            <span class="mark-icon"></span>
            <span class="confirmation-header">Confirm Closure</span>
          </div>
        </div>
      </div>
      <p>Are you sure you want to close this survey?</p>

      <div class="confirm-modal-bottom">
        <div class="confirm-button-wrapper">
          <button class="cancel-btn">Cancel</button>
          <button class='btn-submit' id="confirm-close-survey">Close Survey</button>
        </div>
      </div>
    </div>
  </div>
</div>