<div id="archive-confirmation-modal">
  <div class="modal">
    <div class="modal-top">
      <div class="modal-header">
        <span class="close-button btn-cancel"></span>
        <div class="header-wrapper">
          <span class="delete-mark-icon"></span>
          <span class="confirmation-header">Confirm Archive</span>
        </div>
      </div>
    </div>
  </div>
  <p class="confirm-text">This will render this learning outcome inaccessible in areas it was previously used.
    Are you sure you want to archive this learning outcome?</p>
  <div class ="confirm-modal-bottom">
    <div class="confirm-btn-wrapper">
      <a class="btn-cancel cancel-btn">Cancel</a>
      <input class='btn-submit' id="confirm-archive-outcome" type="submit" value="Archive" />
    </div>
  </div>
</div>