<div class="program-details">
  <div class="description-wrapper">
    <div class="brief-program-description">
      <p class="program-desc-title">Est. Duration of Program: <span class="program-desc program-duration">N/A</span></p>
      <p class="program-desc-title">Language(s)/Stack(s): <span class="program-desc program-language-stack">N/A</span></p>
      <p class="program-desc-title">Holistic Evaluation: <span class="program-desc program-cadence">N/A</span></p>
    </div>
  </div>

  <div class="program-phases-wrapper">
  </div>

  <div class="program-details-table-wrapper">
    <table class="program-details-table">
      <thead class="program-details-header-wrapper">
        <th class="values-alignment-header">
          <div class="values-alignment-table-header">
            <span>Values Alignment</span>
          </div>
        </th>
        <th class="output-quality-header">
          <div class="output-quality-table-header">
            <span>Output Quality</span>
          </div>
        </th>
        <th class="feedback-incorporation-header">
          <div class="feedback-incorporation-table-header">
            <span>Ability to Incorporate Feedback</span>
          </div>
        </th>
      </thead>
      <tbody class="program-details-body-wrapper">
        <tr class="program-details-row-wrapper">
          <td class="values-alignment-data">
          </td>
          <td class="output-quality-data">
          </td>
          <td class="feedback-incorporation-data">
          </td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
