@import "base";

$cancel-btn-style: (
  $background-white,
  $background-blue,
  px-to-rem(10px) px-to-rem(40px),
  px-to-rem(16px),
  1px solid $background-blue
);

$submit-btn-style: (
  $background-blue,
  $background-white,
  px-to-rem(10px) px-to-rem(30px),
  px-to-rem(16px),
  null
);

#learner-feedback-view {
  font-family: $font-family-regular;

  .modal {
    overflow: hidden;
    position: relative;

    @include respond-to(tablet-and-mobile) {
      height: px-to-rem(500px);
      overflow-y: auto;
    }

    .learner-feedback-header {
      margin-bottom: px-to-rem(-10px);
      color: $current-phase-title;
    }

    .modal-top {
      font-size: px-to-rem(20px);
      margin: px-to-rem(50px) px-to-rem(50px) 0 px-to-rem(50px);

      @include respond-to(tablet-and-mobile) {
        margin: px-to-rem(30px) px-to-rem(30px) 0 px-to-rem(30px);
      }

      @include respond-to(handhelds) {
        margin: px-to-rem(20px) px-to-rem(20px) 0 px-to-rem(20px);
      }
    }

    .modal-content {
      color: $grey-text-color;
      font-size: px-to-rem(13px);
      overflow-y: auto;
      padding: 0 px-to-rem(50px);
      height: 450px;

      @include respond-to(tablet-and-mobile) {
        padding: 0 px-to-rem(30px);
        height: px-to-rem(335px);
      }

      @include respond-to(handhelds) {
        padding: 0 px-to-rem(20px);
        height: px-to-rem(325px);
      }

      .feedback-criteria-container {
        display: flex;
        justify-content: space-between;

        @include respond-to(handhelds) {
          flex-direction: column;
        }

        .feedback-dropdown-wrapper {
          width: 22%;
          position: relative;
          font-weight: lighter;

          @include respond-to(handhelds) {
            width: 100%;
          }

          label {
            color: #333E44;
            font-size: 15px;
          }

          .ui-icon {
            background: url("/assets/down.svg") no-repeat !important;
            background-size: px-to-rem(17px) px-to-rem(20px) !important;
            background-position: px-to-rem(10px) px-to-rem(17px) !important;
            border-left: 1px solid $border-grey;
            padding-left: px-to-rem(14px);
            height: px-to-rem(50px);
            top: 6% !important;
            align-content: center;
          }

          .ui-corner-top {

            .ui-icon {
              background: url("/assets/up.svg") no-repeat !important;
              background-size: px-to-rem(17px) px-to-rem(20px) !important;
              background-position: px-to-rem(10px) px-to-rem(17px) !important;
              border-left: 1px solid $border-grey;
              padding-left: px-to-rem(14px);
              height: px-to-rem(50px);
              top: 4% !important;
              align-content: center;
            }
          }

          .ui-selectmenu-text {
            font-size: px-to-rem(13px) !important;
            margin-top: px-to-rem(4px) !important;

            &:focus {
              outline: none !important;
            }
          }

          .ui-selectmenu-button .ui-selectmenu-text {
            font-weight: normal !important;
            font-size: px-to-rem(14px) !important;
            color: $select-color;
            padding-left: px-to-rem(15px);
          }

          .ui-state-hover {
            border: 1px solid $border-off-white;
            font-size: px-to-rem(14px) !important;
          }

          .ui-selectmenu-button {
            align-content: center;
            padding: 0;

            &:focus {
              outline: none;
              border: $add-lfa-border!important;
            }
    
            @include respond-to(tablet-and-mobile) {
              width: 100% !important;
            }
          }

          .ui-selectmenu-menu .ui-menu {
            width: px-to-rem(90px) !important;
          }

          .ui-state-default,
          .ui-state-focus {
            background: transparent;
          }

          .ui-widget {
            font-family: $font-family-light !important;
            width: px-to-rem(185px) !important;
            font-size: px-to-rem(14px) !important;
            text-align: left !important;
            border-radius: px-to-rem(5px);

            @include respond-to(tablet-and-mobile) {
              width: 100% !important;
            }
          }
        }
      }

      p {
        color: $learning-ecosystem-text-color;
        font-size: px-to-rem(15px);
      }

      .feedback-content {

        .feedback-content-header  {
          color: $profile-text-color;
          font-size: px-to-rem(20px);
          margin-top: px-to-rem(25px);
        }

        .feedback-content-body  {
          margin: 25px auto;

          .feedback-content-text, .feedback-impression  {
            border: 1px solid $grey-text-color;
            border-radius: px-to-rem(3px);
            background-color: $feedback-details-text-bg;
            text-align: justify;
            padding: px-to-rem(10px) px-to-rem(20px);
            line-height: px-to-rem(20px);
            height: px-to-rem(103px);
            overflow-y: auto;
          }

          .with-feedback {
            background-color: $background-white;
            color: $border-black;
          }

          .feedback-impression  {
            width: px-to-rem(100px);
            padding: px-to-rem(3px) px-to-rem(15px);
            height: auto;
          }
        }
      }
      .reflection-content-text {
        box-sizing: border-box;
        padding: px-to-rem(10px) px-to-rem(20px);
        outline: none;
        background-color: $feedback-details-text-bg;
        text-align: justify;
        width: 100%;
        font-family: $font-family-regular;
        color: #808080;
        height: px-to-rem(125px);
        border: 1px solid $grey-text-color;
        border-radius: px-to-rem(3px);
        resize: none;
        line-height: px-to-rem(20px);
        }
        
    }

    .modal-bottom {
      box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);

      .btn-wrapper {
        text-align: right;
        font-size: px-to-rem(16px);
        padding: px-to-rem(15px) px-to-rem(50px);

        @include respond-to(handhelds) {
          flex-direction: column;
          padding: px-to-rem(15px) px-to-rem(20px);
        }
      }

      .btn-cancel {
        @include buttons($cancel-btn-style...);
        margin-right: px-to-rem(14px);
        color: $background-blue !important;
        @include respond-to(handhelds) {
          margin-top: px-to-rem(5px);
          padding: px-to-rem(3px) px-to-rem(12px);
          width: 100%;
        }
      }

      .refl-submit{
        margin: 30px 0px 30px;
        @include respond-to(handhelds) {
        margin: 0;
        }
      }

      .btn-submit, .submit-refl {
        @include buttons($submit-btn-style...);
        border: 0;
        cursor: pointer;
        box-shadow: 0 px-to-rem(4px) px-to-rem(10px) 0 rgba(199, 218, 255, 0.5);
        border-radius: px-to-rem(2px);

        @include respond-to(handhelds) {
          margin-top: px-to-rem(5px);
          padding: px-to-rem(3px) px-to-rem(24px);
          width: 100%;
        }
      }
      .submit-refl{
        display: none;
      }
    }
  }
}

.line {
  width: fit-content;

  .long {
    @include blue-line(px-to-rem(50px), px-to-rem(10px));

    @include respond-to(handhelds) {
      @include blue-line(px-to-rem(30px), px-to-rem(6px));
    }
  }

  .short {
    @include blue-line(px-to-rem(10px), null);
  }
}
