<div id="learner-feedback-modal" class="learner-feedback-modal">
  <div class="modal" id="feedback-tour">
    <div class="modal-top">
      <div class="modal-header learner-feedback-header">
        <span class="close-learner-feedback close-button"></span>
        <div class="learner-feedback-info">
          <span class="exclamation-mark"></span>
          <span class="learner-feedback-heading">Please Give ASK Feedback</span>
        </div>
      </div>
      <div class="modal-content">
        <div class="learner-feedback-content">
          <p><b>Actionable:</b> Prompts receiver with requests or suggestions</p>
          <p><b>Specific:</b> References specific outputs or events [and all relevant details]</p>
          <p><b>Kind:</b> Delivered with total belief in the receiver and their abilities</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-bottom learner-feedback-bottom">
    <div class="btn-wrapper learner-feedback-wrapper">
      <a class="btns personal-feedback-btn">Personal Feedback</a>
      <a class="btns holistic-feedback-btn">Holistic Feedback</a>
    </div>
  </div>
</div>
