<div id="criterion-tooltip-modal" class="criterion-tooltip-modal">
  <div class="modal">
    <div class="modal-top">
      <span id="close-button" class="close-button"></span>
      <div class="criterion-tooltip-header">
        <div id="criterion-title" class="title"></div>
        <div class="line">
          <span class="long"></span>
          <span class="short"></span>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="criterion-tooltip-body">
        <h6 class="scroll-head">Context/Metric</h6>
        <p id="criterion-context-metric"></p>
        <h6 class="scroll-head">Description</h6>
        <p id="criterion-description"></p>
        <div>
          <table>
            <thead>
              <tr>
                <th>Satisfaction Level</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Very Unsatisfied [-2]</td>
                <td id="criterion-very-unsatisfied"></td>
              </tr>
              <tr>
                <td>Unsatisfied [-1]</td>
                <td id="criterion-unsatisfied"></td>
              </tr>
              <tr>
                <td>Neutral [0]</td>
                <td id="criterion-neutral"></td>
              </tr>
              <tr>
                <td>Satisfied [1]</td>
                <td id="criterion-satisfied"></td>
              </tr>
              <tr>
                <td>Very Satisfied [2]</td>
                <td id="criterion-very-satisfied"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>
  <div class="criterion-tooltip-footer"></div>
</div>
