<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo brand-logo-on-footer">
    </div>
  </div>
  <div class="mdl-mini-footer__right-section copyright">
    &copy;<%= Date.today.year %> All Rights Reserved.
  </div>
</footer>
